# Configuration file
# Generated on 05.02.13 21:04

####################
# general
####################

general {
    # Set to false to disable update checks for all Power Crystals' mods.
    B:EnableUpdateCheck=true
}


