# Configuration file
# Generated on 06.02.13 23:00

####################
# general
####################

general {
    # Set to false to disable update checks for all Power Crystals' mods.
    B:EnableUpdateCheck=true
}


