# Configuration file
# Generated on 07.01.13 1:58

####################
# "arrows enabled"
####################

""arrows enabled"" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=4052
    I:blockIdRope=4053
    I:blockIdRopeDJRoslin=4051
    I:blockIdZipLineAnchor=4050
}


####################
# general
####################

general {
    I:"Rope Texture"=1
    I:"max HookShot Rope Length"=50
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=31737
    I:itemIdArrowDirt=31736
    I:itemIdArrowExplosion=31735
    I:itemIdArrowFire=31734
    I:itemIdArrowGrass=31733
    I:itemIdArrowIce=31732
    I:itemIdArrowLaser=31731
    I:itemIdArrowRope=31730
    I:itemIdArrowSlime=31729
    I:itemIdArrowTorch=31728
    I:itemIdArrowWarp=31727
    I:itemIdGrapplingHook=31739
    I:itemIdHookShot=31726
    I:itemIdHookshotCartridge=31725
    I:itemIdRope=31740
    I:itemIdRopesPlusBow=31738
}


